/clientes-service/target
/concesionaria-service/target
/eureka-server/target
/servicios-mecanicos-service/target
/vehiculos-stock-service/target
/ventas-service/target
/gateway-service/target

.vscode